version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    lockfile-only: true
  - package-ecosystem: "pnpm"
    directory: "/"
    schedule:
      interval: "daily"
    lockfile-only: true