DOMAIN="https://next-piveau.vercel.app"
SEARCH_HUB_URL="https://ki-daten.hlrs.de/hub/search/"
REPO_HUB_URL="https://ki-daten.hlrs.de/hub/repo/"

NEXTAUTH_URL=${DOMAIN}
AUTH_SECRET=<your secret>  # Added by `npx auth secret`. Read more: https://cli.authjs.dev
AUTH_KEYCLOAK_ID=<keycloak client id>
AUTH_KEYCLOAK_SECRET=<keycloak secret>
AUTH_KEYCLOAK_ISSUER=<keycloak issuer url>

NEXT_PUBLIC_AUTH_URL=${DOMAIN}
NEXT_PUBLIC_AUTH_KEYCLOAK_ID=${AUTH_KEYCLOAK_ID}
NEXT_PUBLIC_AUTH_KEYCLOAK_ISSUER=${AUTH_KEYCLOAK_SECRET}